$fonts:monospace, sans-serif;
$dark-color: black;
$light-color: white;
$medium-color:lightgrey;
$spacing: 20px;
$spacing-down-xl: 0 0 60px;
$spacing-down-m: 0 0 30px;
$spacing-down-s: 0 0 15px;
$font-xl: 1.8rem;
$font-m: 1.6rem;
$font-s: 0.8rem;

